<section class="element-item <%=post.class %>" style="background-image: url(<%=post.image %>); background-size: cover; background-position: center;">
  <article style="background-color: rgba(237, 206, 207, 0.4); height: 100%;">
    <h3 class="<%=post.class %>"><%=post.title %></h3>
    <h4><%=post.artist %></h4>
    <a href="/werken/<%=index %>">Meer over dit werk...</a>
  </article>
</section>
